/*-------------------------------------------------- body------------------------------------------------------------------- */
body {
  color: #434455;
}
/*-------------------------------------------------- header------------------------------------------------------------------- */
.logo-span {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.link {
  list-style-type: none;
  text-decoration: none;
}
.header-text {
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-text:hover {
  color: #404bbf;
}
.header-menu {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-menu:hover {
  color: #404bbf;
}
