:root{
  --white:#ffffff;
  --iris:#4D5AE5;
  --navy-blue:#2E2F42;
  --ocean:#404BBF;
  --f4f4fd:#f4f4fd;
  --e7e9fc:#e7e9fc;
  --gray:#434455;
}
/*-------------------------------------------------- body------------------------------------------------------------------- */
body {
  background-color:var(--white);
  font-family: "Roboto", sans-serif;
  color: #434455;
}
/*-------------------------------------------------- header------------------------------------------------------------------- */
.logo-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--iris);
}
.link {
  list-style-type: none;
  text-decoration: none;
}
.list {
  list-style-type: none;
  text-decoration: none;
}
.header-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--gray);
  text-transform: uppercase;
}
.header-text:hover {
  color: var(--ocean);
}
.header-text:focus {
  color: var(--ocean);
}

.header-menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-menu:hover {
  color: var(--ocean);
}
.header-menu:focus {
  color: var(--ocean);
}
.address{
  font-style: normal;
  color: var(--gray);
}

/*-------------------------------------------------- section1------------------------------------------------------------------- */
.hero-container {
  background: var(--navy-blue);
}
.hero-text-container {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-btn {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer
}
.hero-btn:hover {
  background-color: var(--ocean);
  cursor: pointer;
}
.hero-btn:focus {
  background-color: var(--ocean);
}
/*-------------------------------------------------- section2------------------------------------------------------------------- */
.caption-texts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.caption-comment {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--gray);
}
/*-------------------------------------------------- section3------------------------------------------------------------------- */
.work-hero-caption {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
/*-------------------------------------------------- section4------------------------------------------------------------------- */
.hero-team{
  background-color: var(--f4f4fd);
}
.team-caption {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
   line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.our-employees {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.empl-comment {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--gray);
}
/*-------------------------------------------------- section4------------------------------------------------------------------- */
.hero-li{
  background-color: var(--white) ;
}
.footer {
  background-color: var(--navy-blue);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--f4f4fd);
}
.footer-comment {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--e7e9fc);
}
/*-------------------------------------------------- portfolio------------------------------------------------------------------- */
.photo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.photo-comment {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;     
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  background-color: var(--f4f4fd);
}
.btn:hover{
  color: var(--white);
  background-color: var(--ocean);
}
.btn:focus{
  color: var(--white);
  background-color: var(--ocean);
}